<nav class="navbar navbar-expand-lg sticky-top custom-nav">
  <div class="container" id="test" >

    <!-- LOGO -->
    <a class="navbar-brand" href="/">
      <img src="/image/newa.png" height="50" />
    </a>

    <!-- Desktop Menu -->
    <div class="collapse navbar-collapse justify-content-end d-none d-lg-flex">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/#projects">Projects</a></li>
         <li class="nav-item"><a class="nav-link" href="/#How">How I Work</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>
    </div>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler custom-toggler d-lg-none" type="button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <!-- Mobile Slide Menu -->
    <div class="mobile-menu d-lg-none" id="mobileMenu">
      <ul class="navbar-nav text-center">
        <li class="nav-item"><a class="nav-link" href="/#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/#projects">Projects</a></li>
         <li class="nav-item"><a class="nav-link" href="/#How">How I Work</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>
